# Project files
*.komodoproject
.idea/
.metadata/
.project
.settings/
.pydevproject
.python-version
.idea
.dartignore

.sw*
*.vim
*.zip

# Code build files
*.egg-info/
build/
__pycache__/
pyhttpstatus_utils/__pycache__/
pyhttpstatus_utils/helpers/__pycache__/
*.pyc

_tmp/


# pytest
/.cache/*
/htmlcov/
/.coverage
/.pytest_cache/

# distribution
.eggs/*
dist/*

